    <li class="ThreadedConversation--loneTweet ">
        <ol class="stream-items">
            <li class="js-stream-item stream-item stream-item "
                data-item-id="1036133773560041472" data-item-type="tweet"
                data-suggestion-json='{"suggestion_details":{},"tweet_ids":"1036133773560041472","scribe_component":"tweet"}'
                id="stream-item-tweet-1036133773560041472">
                <div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable dismissible-content descendant permalink-descendant-tweet "
                     data-component-context="replies"
                     data-conversation-id="1036133716962115584"
                     data-conversation-section-quality="HighQuality" data-disclosure-type=""
                     data-follows-you="false" data-has-parent-tweet="true"
                     data-item-id="1036133773560041472" data-mentions="HARUTYA1226 YouTube"
                     data-name="kuro/くろ"
                     data-permalink-path="/kuro_kuro_wtf/status/1036133773560041472"
                     data-reply-to-users-json='[{"id_str":"956797549297377281","screen_name":"kuro_kuro_wtf","name":"kuro\/\u304f\u308d","emojified_name":{"text":"kuro\/\u304f\u308d","emojified_text_as_html":"kuro\/\u304f\u308d"}},{"id_str":"856125026","screen_name":"HARUTYA1226","name":"\u6625\u8336","emojified_name":{"text":"\u6625\u8336","emojified_text_as_html":"\u6625\u8336"}},{"id_str":"10228272","screen_name":"YouTube","name":"YouTube","emojified_name":{"text":"YouTube","emojified_text_as_html":"YouTube"}}]'
                     data-screen-name="kuro_kuro_wtf" data-tweet-id="1036133773560041472"
                     data-tweet-nonce="1036133773560041472-f2c38c0f-f335-42a5-9131-565e3d92cad1"
                     data-tweet-stat-initialized="true" data-user-id="956797549297377281"
                     data-you-block="false" data-you-follow="false">
                    <div class="context">
                    </div>
                    <div class="content">
                        <div class="stream-item-header">
                            <a class="account-group js-account-group js-action-profile js-user-profile-link js-nav"
                               data-user-id="956797549297377281" href="/kuro_kuro_wtf">
                                <img alt="" class="avatar js-action-profile-avatar"
                                     src="https://pbs.twimg.com/profile_images/956800481896022016/1nuDFo7Q_bigger.jpg"/>
                                <span class="FullNameGroup">
<strong class="fullname show-popup-with-id u-textTruncate " data-aria-label-part="">kuro/くろ</strong><span>‏</span><span
                                        class="UserBadges"></span><span
                                        class="UserNameBreak"> </span></span><span
                                    class="username u-dir u-textTruncate"
                                    data-aria-label-part="" dir="ltr">@<b>kuro_kuro_wtf</b></span></a>
                            <small class="time">
                                <a class="tweet-timestamp js-permalink js-nav js-tooltip"
                                   data-conversation-id="1036133716962115584"
                                   href="/kuro_kuro_wtf/status/1036133773560041472"
                                   title="下午11:08 - 2018年9月1日"><span
                                        class="_timestamp js-short-timestamp "
                                        data-aria-label-part="last" data-long-form="true"
                                        data-time="1535868516" data-time-ms="1535868516000">9月2日</span></a>
                            </small>
                            <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
                                <div class="dropdown">
                                    <button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle"
                                            type="button">
                                        <div class="IconContainer js-tooltip" title="更多">
                                            <span class="Icon Icon--caretDownLight Icon--small"></span>
                                            <span class="u-hiddenVisually">更多</span>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu is-autoCentered">
                                        <div class="dropdown-caret">
                                            <div class="caret-outer"></div>
                                            <div class="caret-inner"></div>
                                        </div>
                                        <ul>
                                            <li class="copy-link-to-tweet js-actionCopyLinkToTweet">
                                                <button class="dropdown-link" type="button">
                                                    复制推文链接
                                                </button>
                                            </li>
                                            <li class="embed-link js-actionEmbedTweet"
                                                data-nav="embed_tweet">
                                                <button class="dropdown-link" type="button">
                                                    嵌入推文
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ReplyingToContextBelowAuthor" data-aria-label-part="">

                            回复 <a class="pretty-link js-user-profile-link"
                                  data-user-id="856125026" dir="ltr" href="/HARUTYA1226"
                                  rel="noopener"><span class="username u-dir u-textTruncate"
                                                       dir="ltr">@<b>HARUTYA1226</b></span></a>
                            <a class="pretty-link js-user-profile-link"
                               data-user-id="10228272" dir="ltr" href="/YouTube"
                               rel="noopener"><span class="username u-dir u-textTruncate"
                                                    dir="ltr">@<b>YouTube</b></span></a>
                        </div>
                        <div class="js-tweet-text-container">
                            <p class="TweetTextSize js-tweet-text tweet-text"
                               data-aria-label-part="0" lang="ja">そのうちの27万回僕です</p>
                        </div>
                        <div class="stream-item-footer">
                            <div class="ProfileTweet-actionCountList u-hiddenVisually">
<span class="ProfileTweet-action--reply u-hiddenVisually">
<span aria-hidden="true" class="ProfileTweet-actionCount" data-tweet-stat-count="0">
<span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-reply-count-aria-1036133773560041472">0回复</span>
</span>
</span>
                                <span class="ProfileTweet-action--retweet u-hiddenVisually">
<span aria-hidden="true" class="ProfileTweet-actionCount" data-tweet-stat-count="0">
<span class="ProfileTweet-actionCountForAria"
      id="profile-tweet-action-retweet-count-aria-1036133773560041472">0 转推</span>
</span>
</span>
                                <span class="ProfileTweet-action--favorite u-hiddenVisually">
<span class="ProfileTweet-actionCount" data-tweet-stat-count="19">
<span class="ProfileTweet-actionCountForAria" data-aria-label-part=""
      id="profile-tweet-action-favorite-count-aria-1036133773560041472">19 喜欢</span>
</span>
</span>
                            </div>
                            <div aria-label="发推行为"
                                 class="ProfileTweet-actionList js-actions" role="group">
                                <div class="ProfileTweet-action ProfileTweet-action--reply">
                                    <button aria-describedby="profile-tweet-action-reply-count-aria-1036133773560041472"
                                            class="ProfileTweet-actionButton js-actionButton js-actionReply"
                                            data-modal="ProfileTweet-reply" type="button">
                                        <div class="IconContainer js-tooltip" title="回复">
                                            <span class="Icon Icon--medium Icon--reply"></span>
                                            <span class="u-hiddenVisually">回复</span>
                                        </div>
                                        <span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero ">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation"></span>
</span>
                                    </button>
                                </div>
                                <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
                                    <button aria-describedby="profile-tweet-action-retweet-count-aria-1036133773560041472"
                                            class="ProfileTweet-actionButton js-actionButton js-actionRetweet"
                                            data-modal="ProfileTweet-retweet" type="button">
                                        <div class="IconContainer js-tooltip" title="转推">
                                            <span class="Icon Icon--medium Icon--retweet"></span>
                                            <span class="u-hiddenVisually">转推</span>
                                        </div>
                                        <span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation"></span>
</span>
                                    </button>
                                    <button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet"
                                            data-modal="ProfileTweet-retweet" type="button">
                                        <div class="IconContainer js-tooltip" title="撤销转推">
                                            <span class="Icon Icon--medium Icon--retweet"></span>
                                            <span class="u-hiddenVisually">已转推</span>
                                        </div>
                                        <span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation"></span>
</span>
                                    </button>
                                </div>
                                <div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
                                    <button aria-describedby="profile-tweet-action-favorite-count-aria-1036133773560041472"
                                            class="ProfileTweet-actionButton js-actionButton js-actionFavorite"
                                            type="button">
                                        <div class="IconContainer js-tooltip" title="喜欢">
                                                                        <span class="Icon Icon--heart Icon--medium"
                                                                              role="presentation"></span>
                                            <div class="HeartAnimation"></div>
                                            <span class="u-hiddenVisually">喜欢</span>
                                        </div>
                                        <span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">19</span>
</span>
                                    </button>
                                    <button class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite"
                                            type="button">
                                        <div class="IconContainer js-tooltip" title="撤销喜欢">
                                                                        <span class="Icon Icon--heart Icon--medium"
                                                                              role="presentation"></span>
                                            <div class="HeartAnimation"></div>
                                            <span class="u-hiddenVisually">喜欢</span>
                                        </div>
                                        <span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">19</span>
</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dismiss-module">
                    <div class="dismissed-module">
                        <div class="feedback-actions">
                            <div class="feedback-action" data-feedback-type="DontLike"
                                 data-feedback-url="">
                                <div class="action-confirmation dismiss-module-item">
                                    谢谢。Twitter 会使用此信息，来优化你的时间线。
                                    <span class="undo-action">撤销</span>
                                </div>
                            </div>
                        </div>
                        <div class="child-feedback-confirmation">
                            <div class="child-confirmation-item">
                                <span class="child-confirmation-text"></span>
                                <span class="undo-child-feedback-action">撤销</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </li>
