<div class="content">


    <div class="stream-item-header">
        <a class="account-group js-account-group js-action-profile js-user-profile-link js-nav"
           href="/quad_stardust" data-user-id="4608450432">
            <img class="avatar js-action-profile-avatar"
                 src="https://pbs.twimg.com/profile_images/678436369593589760/G2chkEzu_bigger.jpg" alt="">
            <span class="FullNameGroup">
      <strong class="fullname show-popup-with-id u-textTruncate "
              data-aria-label-part>星尘Stardust_Official</strong><span>&rlm;</span><span class="UserBadges"></span><span
                    class="UserNameBreak">&nbsp;</span></span><span class="username u-dir u-textTruncate"
                                                                    dir="ltr" data-aria-label-part>@<b>quad_stardust</b></span></a>


        <small class="time">
            <a href="/quad_stardust/status/723610837865254912"
               class="tweet-timestamp js-permalink js-nav js-tooltip" title="下午1:34 - 2016年4月22日"
               data-conversation-id="723610837865254912"><span class="_timestamp js-short-timestamp "
                                                               data-aria-label-part="last"
                                                               data-time="1461357242"
                                                               data-time-ms="1461357242000"
                                                               data-long-form="true">2016年4月22日</span></a>
        </small>

        <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
            <div class="dropdown">
                <button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle"
                        type="button">
                    <div class="IconContainer js-tooltip" title="更多">
                        <span class="Icon Icon--caretDownLight Icon--small"></span>
                        <span class="u-hiddenVisually">更多</span>
                    </div>
                </button>
                <div class="dropdown-menu is-autoCentered">
                    <div class="dropdown-caret">
                        <div class="caret-outer"></div>
                        <div class="caret-inner"></div>
                    </div>
                    <ul>

                        <li class="copy-link-to-tweet js-actionCopyLinkToTweet">
                            <button type="button" class="dropdown-link">复制推文链接</button>
                        </li>
                        <li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
                            <button type="button" class="dropdown-link">嵌入推文</button>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>


    <div class="js-tweet-text-container">
        <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" lang="ja"
           data-aria-label-part="0">Listen to Stardust singing metal! (<img class="Emoji Emoji--forText"
                                                                            src="https://abs.twimg.com/emoji/v2/72x72/261d.png"
                                                                            draggable="false" alt="☝"
                                                                            title="食指往上指"
                                                                            aria-label="Emoji: 食指往上指"> ՞ਊ ՞)<img
                class="Emoji Emoji--forText" src="https://abs.twimg.com/emoji/v2/72x72/261d.png"
                draggable="false" alt="☝" title="食指往上指" aria-label="Emoji: 食指往上指">
            【Vocaloid Stardust Cover】韶音赋Shao Yin Fu【星尘翻唱】 <a href="https://t.co/ZarcMLcmAi"
                                                             rel="nofollow noopener" dir="ltr"
                                                             data-expanded-url="https://youtu.be/bG6YAiJ5gLA"
                                                             class="twitter-timeline-link" target="_blank"
                                                             title="https://youtu.be/bG6YAiJ5gLA"><span
                    class="tco-ellipsis"></span><span class="invisible">https://</span><span
                    class="js-display-url">youtu.be/bG6YAiJ5gLA</span><span class="invisible"></span><span
                    class="tco-ellipsis"><span class="invisible">&nbsp;</span></span></a><a
                    href="https://t.co/ztiED2fjxu" class="twitter-timeline-link u-hidden"
                    data-pre-embedded="true" dir="ltr">pic.twitter.com/ztiED2fjxu</a></p>
    </div>


    <div class="AdaptiveMediaOuterContainer">
        <div class="AdaptiveMedia

        is-square



        "
        >
            <div class="AdaptiveMedia-container">
                <div class="AdaptiveMedia-singlePhoto"
                     style="padding-top: calc(0.625 * 100% - 0.5px);"
                >
                    <div class="AdaptiveMedia-photoContainer js-adaptive-photo "
                         data-image-url="https://pbs.twimg.com/media/CgrIOPTUYAA6mQ4.jpg"


                         data-element-context="platform_photo_card"
                    >
                        <img data-aria-label-part src="https://pbs.twimg.com/media/CgrIOPTUYAA6mQ4.jpg" alt=""
                             style="width: 100%; top: -0px;"
                        >
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="stream-item-footer">

        <div class="ProfileTweet-actionCountList u-hiddenVisually">


    <span class="ProfileTweet-action--reply u-hiddenVisually">
      <span class="ProfileTweet-actionCount" data-tweet-stat-count="3">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-reply-count-aria-723610837865254912"
              data-aria-label-part>3回复</span>
      </span>
    </span>
            <span class="ProfileTweet-action--retweet u-hiddenVisually">
      <span class="ProfileTweet-actionCount" data-tweet-stat-count="41">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-retweet-count-aria-723610837865254912"
              data-aria-label-part>41 转推</span>
      </span>
    </span>
            <span class="ProfileTweet-action--favorite u-hiddenVisually">
      <span class="ProfileTweet-actionCount" data-tweet-stat-count="90">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-favorite-count-aria-723610837865254912"
              data-aria-label-part>90 喜欢</span>
      </span>
    </span>
        </div>

        <div class="ProfileTweet-actionList js-actions" role="group" aria-label="发推行为">
            <div class="ProfileTweet-action ProfileTweet-action--reply">
                <button class="ProfileTweet-actionButton js-actionButton js-actionReply"
                        data-modal="ProfileTweet-reply" type="button"
                        aria-describedby="profile-tweet-action-reply-count-aria-723610837865254912">
                    <div class="IconContainer js-tooltip" title="回复">
                        <span class="Icon Icon--medium Icon--reply"></span>
                        <span class="u-hiddenVisually">回复</span>
                    </div>
                    <span class="ProfileTweet-actionCount ">
        <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">3</span>
      </span>
                </button>
            </div>

            <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
                <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet"

                        data-modal="ProfileTweet-retweet"
                        type="button"
                        aria-describedby="profile-tweet-action-retweet-count-aria-723610837865254912">
                    <div class="IconContainer js-tooltip" title="转推">
                        <span class="Icon Icon--medium Icon--retweet"></span>
                        <span class="u-hiddenVisually">转推</span>
                    </div>
                    <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">41</span>
  </span>

                </button>
                <button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet"
                        data-modal="ProfileTweet-retweet" type="button">
                    <div class="IconContainer js-tooltip" title="撤销转推">
                        <span class="Icon Icon--medium Icon--retweet"></span>
                        <span class="u-hiddenVisually">已转推</span>
                    </div>
                    <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">41</span>
  </span>

                </button>
            </div>


            <div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
                <button class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button"
                        aria-describedby="profile-tweet-action-favorite-count-aria-723610837865254912">
                    <div class="IconContainer js-tooltip" title="喜欢">
                        <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
                        <div class="HeartAnimation"></div>
                        <span class="u-hiddenVisually">喜欢</span>
                    </div>
                    <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">90</span>
  </span>

                </button>
                <button class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite"
                        type="button">
                    <div class="IconContainer js-tooltip" title="撤销喜欢">
                        <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
                        <div class="HeartAnimation"></div>
                        <span class="u-hiddenVisually">喜欢</span>
                    </div>
                    <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">90</span>
  </span>

                </button>
            </div>


        </div>

    </div>


</div>