<h3 class="title_h3"><a href="{{ list_item.question.url |replace("questions","question")|replace("api","www") }}"
       class="title"><b>{{ list_item.question.title }}</b></a></h3>
<div class="author">
    <div class="avatar_block"><a href="{{ list_item.author.url |replace("api", "www") }}"><img class="avatar"
                                                                        src="{{ list_item.author.avatar_url|replace("_s","_xs") }}"></a>
    </div>
    <div class="author_block">
        <a href="{{ list_item.author.url |replace("api", "www")}}" class="author"><b>{{ list_item.author.name }}</b></a>
        <div class="author-headline">{{ list_item.author.headline }}</div>
    </div>
</div>
<div class="voted"><a href="#">{{ list_item.voteup_count }} 人赞同了该回答</a></div>
<div class="main-content-copy" >
    <div class="row" onclick="window.open('{{ list_item.question.url |replace("questions","question")|replace("api","www") }}/answer/{{ list_item.id }}')">
        {% if list_item.thumbnail %}
            <div class="col-sm-4 hidden-xs">
                <img class="item" src="{{ list_item.thumbnail|replace("200x112", "400x224") }}">
            </div>
        {% endif %}
        <div class="{% if list_item.thumbnail %}{{ "col-sm-8" }}{% else %}{{ "col-sm-12" }}{% endif %}">
            <div class="text-content">{{ list_item.excerpt|safe }}<a href="#">阅读全文</a>
            </div>
        </div>
    </div>
</div>
<div class="detail-content">
{#    {{ list_item.content |clear_zhihu_answer|safe }}#}
</div>
{% include 'zhihu/share/bar.html' %}