<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="never">
    <title>{{ base.title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/core/css/base.css" rel="stylesheet">
{#    {% for css_line in base.css %}#}
{#        <link href="{{ css_line }}" rel="stylesheet">#}
{#    {% endfor %}#}
    {% block css %}{% endblock %}
</head>
<body>
    {% include 'includes/nav.html' %}
    <div class="container">
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </div>
</body>
{#    {% for js_line in base.js %}#}
{#        <script type="text/javascript" src="{{ js_line }}"></script>#}
{#    {% endfor %}#}

<script src="/static/lib/require.js"></script>
<script src="/static/core/js/require-config.js"></script>
{#    <script src="/static/lib/jquery.min.js"></script>#}
{#    <script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.js"></script>#}
{% block js %}
{% endblock %}
</html>