<p><b>不使用软件下载方法</b></p><p><b>1.在地址bilibili前面加i变成ibilibili，回车。</b></p><p>原地址<a
        href="https://link.zhihu.com/?target=http%3A//www.bilibili.com/video/av4055623/" class=" wrap external"
        target="_blank" rel="nofollow noreferrer">【多素材/正能量燃泪混剪】这首歌曾经拯救了我的一切</a></p>
<figure>
    <noscript><img src="https://pic2.zhimg.com/f5923f3db34d73c77472cd292511ab95_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="329" data-rawheight="34" class="content_image" width="329">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='329'%20height='34'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="329" data-rawheight="34" class="content_image lazy"
         width="329" data-actualsrc="https://pic2.zhimg.com/f5923f3db34d73c77472cd292511ab95_b.jpg"></figure><p><br></p>
<figure>
    <noscript><img src="https://pic4.zhimg.com/33614c406f283962f8b8dc414ca25f4b_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="1344" data-rawheight="801" class="origin_image zh-lightbox-thumb"
                   width="1344" data-original="https://pic4.zhimg.com/33614c406f283962f8b8dc414ca25f4b_r.jpg">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='1344'%20height='801'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="1344" data-rawheight="801"
         class="origin_image zh-lightbox-thumb lazy" width="1344"
         data-original="https://pic4.zhimg.com/33614c406f283962f8b8dc414ca25f4b_r.jpg"
         data-actualsrc="https://pic4.zhimg.com/33614c406f283962f8b8dc414ca25f4b_b.jpg"></figure><p>加i之后</p>
<figure>
    <noscript><img src="https://pic2.zhimg.com/fa58ba3f01b6eda19024d4169cc5ee99_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="329" data-rawheight="39" class="content_image" width="329">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='329'%20height='39'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="329" data-rawheight="39" class="content_image lazy"
         width="329" data-actualsrc="https://pic2.zhimg.com/fa58ba3f01b6eda19024d4169cc5ee99_b.jpg"></figure><p><br></p>
<p><a href="https://link.zhihu.com/?target=http%3A//weixin.qq.com/r/NzvSyn-EtSLKrTup924l" class=" external"
      target="_blank" rel="nofollow noreferrer"><span class="invisible">http://</span><span class="visible">weixin.qq.com/r/NzvSyn-</span><span
        class="invisible">EtSLKrTup924l</span><span class="ellipsis"></span></a> (二维码自动识别)</p><p>点击就可以下载了。</p><p><b>注：在bilibili后面加jj效果一样，也有下载的页面。</b>
</p>
<figure>
    <noscript><img src="https://pic1.zhimg.com/b408ed4de852773e0b8a1e36a603c378_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="327" data-rawheight="41" class="content_image" width="327">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='327'%20height='41'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="327" data-rawheight="41" class="content_image lazy"
         width="327" data-actualsrc="https://pic1.zhimg.com/b408ed4de852773e0b8a1e36a603c378_b.jpg"></figure><p><br></p>
<p><br></p><p>2.看简介，评论，有些up主或者其他人会提供下载地址的。不过稳定性不高所以不太推荐。</p><p><b>用软件下载</b></p><p><b>工具--硕鼠</b></p><p><b>软件有很多，一般我习惯用硕鼠。<a
        href="https://link.zhihu.com/?target=http%3A//www.flvcd.com/" class=" wrap external" target="_blank"
        rel="nofollow noreferrer">FLVCD - 硕鼠官网|FLV下载</a></b></p><p>直接复制地址到硕鼠里面，就可以下载视频了</p>
<figure>
    <noscript><img src="https://pic3.zhimg.com/ac55d4574f1bc2d21274d1fd7bc0ed9e_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="1336" data-rawheight="523" class="origin_image zh-lightbox-thumb"
                   width="1336" data-original="https://pic3.zhimg.com/ac55d4574f1bc2d21274d1fd7bc0ed9e_r.jpg">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='1336'%20height='523'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="1336" data-rawheight="523"
         class="origin_image zh-lightbox-thumb lazy" width="1336"
         data-original="https://pic3.zhimg.com/ac55d4574f1bc2d21274d1fd7bc0ed9e_r.jpg"
         data-actualsrc="https://pic3.zhimg.com/ac55d4574f1bc2d21274d1fd7bc0ed9e_b.jpg"></figure><p>
    硕鼠可以结合插件使用，chrome和360浏览器都有的，FLVCD插件。</p>
<figure>
    <noscript><img src="https://pic4.zhimg.com/7293790ff98a50e55e02d2dcdce741c3_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="217" data-rawheight="126" class="content_image" width="217">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='217'%20height='126'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="217" data-rawheight="126" class="content_image lazy"
         width="217" data-actualsrc="https://pic4.zhimg.com/7293790ff98a50e55e02d2dcdce741c3_b.jpg"></figure><p>
    这插件安装好之后，下载视频只需要在视频页面点右键，直接选择使用FLVCD解析，就不用每次都去复制粘贴下载了。</p>
<figure>
    <noscript><img src="https://pic1.zhimg.com/e1a451b5d2ff40d80cde36d1870ba0fc_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="410" data-rawheight="186" class="content_image" width="410">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='410'%20height='186'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="410" data-rawheight="186" class="content_image lazy"
         width="410" data-actualsrc="https://pic1.zhimg.com/e1a451b5d2ff40d80cde36d1870ba0fc_b.jpg"></figure><p><br></p>
<p>硕鼠的也可以设置一下，那样不用每次都选择之后再弹开下载器。分享一下自己的设置。</p>
<figure>
    <noscript><img src="https://pic3.zhimg.com/35bf224013f9c68031c2b8884c98b9e2_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="907" data-rawheight="844" class="origin_image zh-lightbox-thumb"
                   width="907" data-original="https://pic3.zhimg.com/35bf224013f9c68031c2b8884c98b9e2_r.jpg"></noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='907'%20height='844'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="907" data-rawheight="844"
         class="origin_image zh-lightbox-thumb lazy" width="907"
         data-original="https://pic3.zhimg.com/35bf224013f9c68031c2b8884c98b9e2_r.jpg"
         data-actualsrc="https://pic3.zhimg.com/35bf224013f9c68031c2b8884c98b9e2_b.jpg"></figure><p><br></p><p><b>工具--IDM（internet
    download manager）</b></p><p>如果有用IDM的话，下载也很方便，不需要其他东西，在视频右上角可以直接点下载。</p>
<figure>
    <noscript><img src="https://pic2.zhimg.com/0ac4da082009e6145ac2cb92ac069d69_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="1216" data-rawheight="769" class="origin_image zh-lightbox-thumb"
                   width="1216" data-original="https://pic2.zhimg.com/0ac4da082009e6145ac2cb92ac069d69_r.jpg">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='1216'%20height='769'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="1216" data-rawheight="769"
         class="origin_image zh-lightbox-thumb lazy" width="1216"
         data-original="https://pic2.zhimg.com/0ac4da082009e6145ac2cb92ac069d69_r.jpg"
         data-actualsrc="https://pic2.zhimg.com/0ac4da082009e6145ac2cb92ac069d69_b.jpg"></figure><p><br></p><p><b>注：硕鼠和IDM都不只可以下载B站的，其他网站的视频也是可以下载的，过程一样。</b>
</p><p><br><b>-----------2018.01.31更新-------------</b></p><p>更新一个最近经常使用的插件，<a
        href="https://link.zhihu.com/?target=http%3A//tampermonkey.net/" class=" wrap external" target="_blank"
        rel="nofollow noreferrer">Tampermonkey</a>，也称油猴<a
        href="https://link.zhihu.com/?target=https%3A//greasyfork.org/zh-CN/scripts/27819-bilibili-merged-flv-mp4-ass-enhance"
        class=" wrap external" target="_blank" rel="nofollow noreferrer">bilibili merged flv+mp4+ass+enhance</a></p>
<figure>
    <noscript><img src="https://pic4.zhimg.com/v2-06651a095672bb277b3d3063105bdbcf_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="411" data-rawheight="225" class="content_image" width="411">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='411'%20height='225'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="411" data-rawheight="225" class="content_image lazy"
         width="411" data-actualsrc="https://pic4.zhimg.com/v2-06651a095672bb277b3d3063105bdbcf_b.jpg"></figure><p>
    360浏览器的可以直接在扩展里面搜索，另外这插件也有很多方便的脚本使用，比如可以直接迅雷下载百度云资源，看各种VIP视频，解除网页不能右键限制之类等等。脚本搜索地址：<a
        href="https://link.zhihu.com/?target=https%3A//greasyfork.org/zh-CN" class=" wrap external" target="_blank"
        rel="nofollow noreferrer">Greasy Fork - 安全、有用的用户脚本大全</a></p><p>安装好插件之后就到脚本地址下载脚本，就可以下载B站视频了，脚本地址：<a
        href="https://link.zhihu.com/?target=https%3A//greasyfork.org/zh-CN/scripts/27819-bilibili-merged-flv-mp4-ass-enhance"
        class=" wrap external" target="_blank" rel="nofollow noreferrer">bilibili merged flv+mp4+ass+enhance</a>（停止更新，已挂）
</p><p>替代脚本：<a
        href="https://link.zhihu.com/?target=https%3A//greasyfork.org/zh-CN/scripts/372516-bilibili-merged-flv-mp4-ass-enhance"
        class=" wrap external" target="_blank" rel="nofollow noreferrer">bilibili merged flv+mp4+ass+enhance</a></p>
<figure>
    <noscript><img src="https://pic1.zhimg.com/v2-eea5b0afca3a403d44bc3e3010b419c0_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="967" data-rawheight="384" class="origin_image zh-lightbox-thumb"
                   width="967" data-original="https://pic1.zhimg.com/v2-eea5b0afca3a403d44bc3e3010b419c0_r.jpg">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='967'%20height='384'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="967" data-rawheight="384"
         class="origin_image zh-lightbox-thumb lazy" width="967"
         data-original="https://pic1.zhimg.com/v2-eea5b0afca3a403d44bc3e3010b419c0_r.jpg"
         data-actualsrc="https://pic1.zhimg.com/v2-eea5b0afca3a403d44bc3e3010b419c0_b.jpg"></figure><p>
    之后再刷新B站的播放页面，就会直接在标题下面生成下载的选项了。点击就可以直接下载。</p>
<figure>
    <noscript><img src="https://pic2.zhimg.com/v2-3eb53f4ef162f4835d4c601e92b34c39_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="623" data-rawheight="208" class="origin_image zh-lightbox-thumb"
                   width="623" data-original="https://pic2.zhimg.com/v2-3eb53f4ef162f4835d4c601e92b34c39_r.jpg">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='623'%20height='208'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="623" data-rawheight="208"
         class="origin_image zh-lightbox-thumb lazy" width="623"
         data-original="https://pic2.zhimg.com/v2-3eb53f4ef162f4835d4c601e92b34c39_r.jpg"
         data-actualsrc="https://pic2.zhimg.com/v2-3eb53f4ef162f4835d4c601e92b34c39_b.jpg"></figure><p><br>除此之外B站的脚本还有：解决B站区域限制脚本。地址：<a
        href="https://link.zhihu.com/?target=https%3A//greasyfork.org/zh-CN/scripts/25718-%25E8%25A7%25A3%25E9%2599%25A4b%25E7%25AB%2599%25E5%258C%25BA%25E5%259F%259F%25E9%2599%2590%25E5%2588%25B6"
        class=" wrap external" target="_blank" rel="nofollow noreferrer">解除B站区域限制</a><br></p>
<figure>
    <noscript><img src="https://pic4.zhimg.com/v2-778973ce8de48edb32cd63a8456b8cf7_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="861" data-rawheight="366" class="origin_image zh-lightbox-thumb"
                   width="861" data-original="https://pic4.zhimg.com/v2-778973ce8de48edb32cd63a8456b8cf7_r.jpg">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='861'%20height='366'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="861" data-rawheight="366"
         class="origin_image zh-lightbox-thumb lazy" width="861"
         data-original="https://pic4.zhimg.com/v2-778973ce8de48edb32cd63a8456b8cf7_r.jpg"
         data-actualsrc="https://pic4.zhimg.com/v2-778973ce8de48edb32cd63a8456b8cf7_b.jpg"></figure><p>
    播放器调整脚本。可解决播放视频弹幕不需要每次都手动关闭的问题。地址：<a
        href="https://link.zhihu.com/?target=https%3A//greasyfork.org/zh-CN/scripts/21284-%25E5%2593%2594%25E5%2593%25A9%25E5%2593%2594%25E5%2593%25A9-bilibili-com-%25E6%2592%25AD%25E6%2594%25BE%25E5%2599%25A8%25E8%25B0%2583%25E6%2595%25B4"
        class=" wrap external" target="_blank" rel="nofollow noreferrer">哔哩哔哩（bilibili.com）播放器调整</a></p>
<figure>
    <noscript><img src="https://pic4.zhimg.com/v2-1faee29d53192cf0af767ae5fcd4b7d7_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="693" data-rawheight="312" class="origin_image zh-lightbox-thumb"
                   width="693" data-original="https://pic4.zhimg.com/v2-1faee29d53192cf0af767ae5fcd4b7d7_r.jpg">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='693'%20height='312'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="693" data-rawheight="312"
         class="origin_image zh-lightbox-thumb lazy" width="693"
         data-original="https://pic4.zhimg.com/v2-1faee29d53192cf0af767ae5fcd4b7d7_r.jpg"
         data-actualsrc="https://pic4.zhimg.com/v2-1faee29d53192cf0af767ae5fcd4b7d7_b.jpg"></figure>
<figure>
    <noscript><img src="https://pic1.zhimg.com/v2-4c67562fcd79198b522be275358ea528_b.jpg" data-caption=""
                   data-size="normal" data-rawwidth="1258" data-rawheight="831" class="origin_image zh-lightbox-thumb"
                   width="1258" data-original="https://pic1.zhimg.com/v2-4c67562fcd79198b522be275358ea528_r.jpg">
    </noscript>
    <img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='1258'%20height='831'&gt;&lt;/svg&gt;"
         data-caption="" data-size="normal" data-rawwidth="1258" data-rawheight="831"
         class="origin_image zh-lightbox-thumb lazy" width="1258"
         data-original="https://pic1.zhimg.com/v2-4c67562fcd79198b522be275358ea528_r.jpg"
         data-actualsrc="https://pic1.zhimg.com/v2-4c67562fcd79198b522be275358ea528_b.jpg"></figure><p></p>