{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/wordbase/wordbase.css">
{% endblock %}
{% block js %}
    <script src="/static/wordbase/wordbase.js"></script>
{% endblock %}
{% block body %}
    <div class="col-md-1">
    </div>
    <ul class="list-group list col-md-11">
        {% include 'wordbase/wordbase_list_content.html' %}
    </ul>
    <div class="modal fade" id="wordbase_tag_group" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Word Base Tag Group</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="row" id="tag_group_list">

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <form class="form-inline">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button" id="tag_group_delete"><span
                                        class="glyphicon glyphicon-minus"></span></button>
                            </div>
                            <input type="text" class="form-control" id="tag_group_input">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button" id="tag_group_group_add"><span
                                        class="glyphicon glyphicon-plus"></span></button>
                                <button class="btn btn-danger" id="tag_group_" data-dismiss="modal">Tag</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="pure_update_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Word Base Tag Group</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="pure_update_input" id="pure_update_label"></label>
                            <input type="text" class="form-control" id="pure_update_input" >
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="pure_update" data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}