body {
  background: #f6f6f6;
}
body .zhihu-answers {
  padding-left: 3px;
  padding-right: 3px ;
}
.list {
  height: auto;
  background: #ffffff;
}
.list a.title {
  font-size: 18px;
}
.list .title_h3 {
  margin-top: 0;
}
.main-content {
  margin-bottom: 10px;
  cursor: pointer;
  line-height: 1.67;
}
.main-content img.item {
  width: 100%;
  border-radius: 3px;
}
.main-content .text-content {
  letter-spacing: 0.02em;
  line-height: 1.67em;
  font-size: 16px;
  max-height: 6.68em;
  overflow: hidden;
}
.main-content-copy {
  margin-bottom: 10px;
  cursor: pointer;
  line-height: 1.67;
}
.main-content-copy img.item {
  width: 100%;
  border-radius: 3px;
}
.main-content-copy .text-content {
  letter-spacing: 0.02em;
  line-height: 1.67em;
  font-size: 16px;
  max-height: 6.68em;
  overflow: hidden;
}
.detail-content {
  display: none;
  letter-spacing: 0.04em;
  line-height: 1.67em;
  font-size: 17px;
}
.author img.avatar {
  width: 38px;
  height: 38px;
  border-radius: 3px;
}
.author .avatar_block {
  vertical-align: top;
  margin-right: 7px;
  display: inline-block;
}
.author .author_block {
  display: inline-block;
}
.author .author-headline {
  font-size: 14px;
  color: #646464;
}
.voted {
  margin-top: 5px;
  margin-bottom: 5px;
}
.voted a {
  color: #8590a6;
}
.zhihu-comment-avatar {
  width: 38 px;
  height: 38 px;
  position: absolute;
  margin-top: 5px;
}
.zhihu-comment-userinfo {
  width: 38 px;
  height: 38 px;
  position: absolute;
  margin-top: 5px;
}
.bar .vote {
  display: inline-block;
  background: #e5f2ff;
  color: #3f96ff;
  border: 1px;
}
.bar .shut {
  display: none;
  margin-left: 400px;
}
@media screen and (max-width: 768px) {
  .bar .shut {
    margin-left: 0;
  }
}
.content {
  padding-left: 73px;
}
.stream-item-header .js-action-profile-avatar {
  position: absolute;
  margin-left: -80px;
}
.stream-item-header .username {
  display: none !important;
}
.stream-item-header .ProfileTweet-action--more {
  display: none;
}
.js-tweet-text-container .invisible {
  display: none;
}
.js-tweet-text-container .twitter-timeline-link {
  color: #1da1f2;
}
.js-tweet-text-container s {
  text-decoration: none !important;
}
.js-tweet-text-container .twitter-atreply.pretty-link.js-nav {
  color: #1da1f2;
}
.AdaptiveMediaOuterContainer .AdaptiveMedia-singlePhoto {
  padding-top: 0 !important;
}
.stream-item-footer .ProfileTweet-action--reply {
  padding-left: 7px;
  padding-right: 7px;
}
.stream-item-footer .ProfileTweet-action--retweet {
  padding-left: 7px;
  padding-right: 7px;
}
.stream-item-footer .ProfileTweet-action--favorite {
  padding-left: 7px;
  padding-right: 7px;
}
.stream-item-footer .ProfileTweet-actionList {
  display: none;
}
.self-thread-context {
  display: none;
}
.self-thread-tweet-cta {
  display: none;
}
@media screen and (max-width: 768px) {
  .stream-item-header .js-action-profile-avatar {
    height: 50px;
    width: 50px;
    margin-left: -57px;
  }
  .content {
    padding-left: 50px;
  }
}
.chapter-text {
  line-height: 4em;
}
.chapter-text p {
  margin: 0;
}
.cross-p {
  margin-bottom: 4em;
}
.correct-btn {
  background-color: #FFFFFF;
}
.chapter-comment-avatar {
  width: 79 px;
  height: 79 px;
  position: absolute;
  margin-top: 5px;
}
.chapter-comment-info {
  margin-left: 91px;
}
.chapter-reply-avatar {
  width: 50 px;
  height: 50 px;
  position: absolute;
  margin-top: 5px;
}
.chapter-reply-info {
  margin-left: 62px;
}
.wuxiaworld-comment {
  margin-bottom: 20px;
}
