{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/module/zhihu/comment/comment.css">
{% endblock %}
{% block js %}
    <script src="/static/module/zhihu/comment/realtime.js"></script>
{% endblock %}
{% block body %}
        <div class="col-sm-1"></div>
        <div class="col-sm-8">

            <ul class="list-group list">
                {% include 'zhihu/comment/comment_list_content.html' %}
            </ul>
        </div>
        <div class="col-sm-3">
        </div>
{% endblock %}